<html>
<head>
  <title>Create New Crossword</title>
  <script>window.INITIAL_STATE = <%-JSON.stringify(data)%>;</script>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/clueMaker.css">
  <script type="text/javascript" src="/assets/js/newBoard.js"></script>
  </head>
  <body>
    <% include ../static/assets/includes/header.ejs %>
    <div class="container">
      <p><h1>Try the new crossword input method! Pick a board size:<br />
    <% for (var i=2;i<=15;i++) {%>
      <a href="/n/<%-i%>"><%-i%></a>&nbsp;
        <%}%></h1></p>
        <hr />
        <p><h1>Try the new <b>super beta</b> computerized generation! Pick a board size:<br />
      <% for (var i=2;i<=15;i++) {%>
        <a href="/c/<%-i%>"><%-i%></a>&nbsp;
          <%}%></h1></p>
      </div>
  </body>
  </html>
